extends layout 
block content 
    h2 #{v1} 
    table.Table
        tr 
            th FullName  
            th Email 
            th Phone  
            th subject  

        each n in Messages 
            tr 
            td=n.FullName
            td=n.Email  
            td=n.Phone 
            td=n.subject